body {
    background-color: #252A34;
    color: #EAEAEA;
}

img:hover {
    background-color: grey;
}

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: #FF2E63;
    border-width: 6px;
    width: 10%;
}

h1 {
    color: #00ADB5;
}

h3 {
    color: #00ADB5;
}